<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <h1>衣類検索</h1>
    <form
      th:action="@{/clothe/search-clothe}"
      th:object="${clotheForm}"
      method="post"
    >
      <div th:each="gender : ${genderMap}">
        <label>
          <input type="radio" th:field="*{gender}" th:value="${gender.key}" />
          <span th:text="${gender.value}">性別</span> </label
        ><br />
      </div>

      <select th:field="*{color}">
        <option
          th:each="color : ${colorMap}"
          th:value="${color.key}"
          th:text="${color.value}"
        >
          色
        </option>
      </select>

      <br />
      <button>検索</button>
    </form>

    <br />

    <!-- 初回表示時に空だった時の表示が出ないようにするため -->
    <div th:if="${clotheList}">
      <!-- 空だった時 -->
      <div th:if="${#lists.isEmpty(clotheList)}">
        条件に一致する服がありませんでした
      </div>

      <div th:each="clothe : ${clotheList}">
        <table border="1">
          <tr>
            <td>ジャンル</td>
            <td th:text="${clothe.genre}"></td>
          </tr>
          <tr>
            <td>サイズ</td>
            <td th:text="${clothe.size}"></td>
          </tr>
          <tr>
            <td>価格</td>
            <td th:text="${clothe.price}"></td>
          </tr>
        </table>
        <br />
      </div>
    </div>
  </body>
</html>
